
	<div class="catalog-swiper-group">

{% for title in ["Категория","Еще категория"] %}

		<section class="catalog-swiper swiper-container-style">

			<h2 class="catalog-swiper__title h2">
				{{ title }}
			</h2>

			<div class="swiper-wrap">

				<div class="swiper-inner">

					<div class="swiper-container swiper-container--card-auto">

						<div class="catalog-swiper__row swiper-wrapper">

{% set settings = [135,177,18,7] %}

{% for item in catalog %}

							<div class="catalog-swiper__item swiper-slide">

{% include "_include/catalog-preview.html" %}

							</div>

{% endfor %}

						</div>

					</div>

				</div>

			</div>

			<a href="/" class="catalog-swiper__all">
				Смотреть всё
			</a>

		</section>

{% endfor %}

	</div>