
	<div class="catalog-swiper-group">

		<section class="catalog-swiper catalog-swiper--col-4 swiper-container-style">

			<h2 class="catalog-swiper__title h2">
				{{ swiperTitle }}
			</h2>

			<div class="swiper-wrap">

				<div class="swiper-inner">

					<div class="swiper-container swiper-container--card-auto">

						<div class="catalog-swiper__row swiper-wrapper">

{% for item in catalog %}

							<article class="catalog-swiper__item swiper-slide">

								<a href="/" class="catalog-swiper__photo">

									<picture>

										<source srcset="/img/preview/catalog/{{ item.photo }}--180x240.webp 1x, /img/preview/catalog/{{ item.photo }}--360x480.webp 2x" type="image/webp">
										<source srcset="/img/preview/catalog/{{ item.photo }}--180x240.png 1x, /img/preview/catalog/{{ item.photo }}--360x480.png 2x">

										<img src="/img/preview/catalog/{{ item.photo }}--180x240.png" alt="{{ item.name }}" loading="lazy" width="180" height="240">

									</picture>

								</a>

								<div class="catalog-swiper__price">

									<div class="price">

{% include "_include/price.html" %}

									</div>

								</div>

								<div class="catalog-swiper__name">

									<a href="/" class="h6">
										{{ item.name }}
									</a>

								</div>

{% include "_include/catalog-swiper__form.html" %}

							</article>

{% endfor %}

						</div>

					</div>

				</div>

			</div>

		</section>

	</div>