				<div class="product__gallery">

					<div class="swiper-gallery-preview">

						<div class="swiper-gallery-preview__preview">

							<div class="swiper-container swiper-container--gallery-preview">

								<ul class="swiper-wrapper swiper-gallery-preview__list">

{% for img in [1,2,3,4] %}

									<li class="swiper-slide swiper-gallery-preview__item{% if loop.first %} is-current{% endif %}">

										<a class="swiper-gallery-preview__link" target="_blank" href="/img/product/gallery/{{ img }}--996x1164.jpg">

											<picture>

												<source srcset="/img/product/gallery/{{ img }}--102x102.webp 1x, /img/product/gallery/{{ img }}--204x204.webp 2x" type="image/webp">
												<source srcset="/img/product/gallery/{{ img }}--102x102.jpg 1x, /img/product/gallery/{{ img }}--204x204.jpg 2x">

												<img src="/img/product/gallery/{{ img }}--102x102.jpg" alt="{{ title }}" loading="lazy" width="102" height="102">

											</picture>

										</a>

									</li>

{% endfor %}

									<li class="swiper-slide swiper-gallery-preview__item is-video">

										<a class="swiper-gallery-preview__link" target="_blank" href="https://donstone-group.ru/video/factory_v3.mp4">

											<picture>

												<source srcset="/img/product/gallery/video--102x102.webp 1x, /img/product/gallery/video--204x204.webp 2x" type="image/webp">
												<source srcset="/img/product/gallery/video--102x102.jpg 1x, /img/product/gallery/video--204x204.jpg 2x">

												<img src="/img/product/gallery/video--102x102.jpg" alt="Видео {{ title }}" loading="lazy" width="102" height="102">

											</picture>

										</a>

									</li>

								</ul>

							</div>

						</div>

						<div class="swiper-gallery-preview__big">

{% for img in [1,2,3,4] %}

							<div class="swiper-gallery-preview__big-item{% if loop.first == false %} hide{% endif %}">

								<picture>

									<source srcset="/img/product/gallery/{{ loop.index + 1 }}--498x582.webp 1x, /img/product/gallery/{{ loop.index + 1 }}--996x1164.webp 2x" type="image/webp">
									<source srcset="/img/product/gallery/{{ loop.index + 1 }}--498x582.jpg 1x, /img/product/gallery/{{ loop.index + 1 }}--996x1164.jpg 2x">

									<img src="/img/product/gallery/{{ loop.index }}--498x582.jpg" alt="{{ img }}" loading="lazy" width="498" height="582">

								</picture>

							</div>

{% endfor %}

							<div class="swiper-gallery-preview__big-item hide">

								<video src="https://donstone-group.ru/video/factory_v3.mp4" poster="/img/product/gallery/1--498x582.jpg" width="498" height="582" controls="controls"></video>

							</div>

						</div>

					</div>

				</div>