	<form action="/" class="filter" id="filter-service">

		<input type="hidden" name="sort" value="price">
		<input type="hidden" name="direction" value="decrease">


{% set fieldset = {

	legend : "Оборудование",
	name   : "category",
	all    : "checked",

	list : [
		{
			label : "Мойки высокого давления"
		},
		{
			label : "Шланги высокого давления"
		},
		{
			label : "Поломоечные машины"
		},
		{
			label : "Пылесосы"
		},
		{
			label : "Компрессоры"
		}
	]

} %}

{% include "_include/filter__checkbox.html" %}



{% set fieldset = {

	min : 800,
	max : 5000,
	minThousands : "800",
	maxThousands : "5 000"

} %}

{% include "_include/filter__nouislider.html" %}



{% set fieldset = {

	legend : "Город предоставления услуги",
	name   : "city",
	all    : "checked",

	list : [
		{
			label : "Владимир"
		},
		{
			label : "Муром"
		},
		{
			label : "Сергиев Посад"
		}
	]

} %}

{% include "_include/filter__checkbox.html" %}



{% set fieldset = {

	legend : "Тип услуги",
	name   : "type",
	all    : "checked",

	list : [
		{
			label : "Ремонт"
		},
		{
			label : "Изготовление"
		},
		{
			label : "Диагностика"
		}
	]

} %}

{% include "_include/filter__checkbox.html" %}


	</form>