					<div class="lk-order__body">

						<div class="lk-order__body-inner">

							<div class="lk-order__body-left">

								<ul class="lk-order__list">

									<li class="lk-order__list-item">

										<a href="/catalog/product/" target="_blank" class="lk-order__product">

											<span class="lk-order__product-img">

												<picture>

													<source srcset="/img/cart/preview/GRASS_C22P-1508--66x66.webp 1x, /img/cart/preview/GRASS_C22P-1508--132x132.webp 2x" type="image/webp">
													<source srcset="/img/cart/preview/GRASS_C22P-1508--66x66.jpg 1x, /img/cart/preview/GRASS_C22P-1508--132x132.jpg 2x">

													<img src="/img/cart/preview/GRASS_C22P-1508--66x66.jpg" alt="Минимойка GRASS C22P-1508" loading="eager" width="66" height="66">

												</picture>

											</span>

											<span class="lk-order__product-body">

												<span class="lk-order__product-name">
													Минимойка GRASS C22P-1508
												</span>

												<span class="lk-order__product-price">
													7 900 ₽
												</span>

											</span>

										</a>

									</li>

									<li class="lk-order__list-item">

										<a href="/catalog/product/" target="_blank" class="lk-order__product">

											<span class="lk-order__product-img">

												<picture>

													<source srcset="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--66x66.webp 1x, /img/cart/preview/Soteco_Panda_515-26_XP_Inox--132x132.webp 2x" type="image/webp">
													<source srcset="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--66x66.jpg 1x, /img/cart/preview/Soteco_Panda_515-26_XP_Inox--132x132.jpg 2x">

													<img src="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--66x66.jpg" alt="Пылесос Soteco Panda 515-26 XP Inox" loading="eager" width="66" height="66">

												</picture>

											</span>

											<span class="lk-order__product-body">

												<span class="lk-order__product-name">
													Пылесос Soteco Panda 515/26 XP Inox
												</span>

												<span class="lk-order__product-price">
													13 300 ₽
												</span>

											</span>

										</a>

									</li>

								</ul>

								{% if buildOrder == true %}

								<p class="lk-order__total">

									<b class="lk-order__total-label">
										Итого с доставкой
									</b>

									<b class="lk-order__total-value">
										12 900 ₽
									</b>

								</p>

								<div class="lk-order__repeat">

									<a href="/cart/" target="_blank" class="btn btn--big">
										Повторить заказ
									</a>

								</div>

								{% endif %}

							</div>

							<div class="lk-order__details">

								<table class="lk-order__table">

									<tbody>

										<tr>

											<th colspan="2">
												Способ оплаты
											</th>

										</tr>

										<tr>

											<td>
												Картой онлайн:
											</td>

											<td>

												<b>26 600 ₽,</b>

												&nbsp;

								{% if payOrder == true %}
												<b class="color-green">оплачено</b>
								{% else %}
												<b class="color-red">не оплачено</b>
								{% endif %}

											</td>

										</tr>

									</tbody>

									<tbody>

										<tr>

											<th colspan="2">
												Способ доставки
											</th>

										</tr>

										<tr>

											<td>
												Транспортная компания:
											</td>

											<td>
												Доставка СДЭК до двери
											</td>

										</tr>

										<tr>

											<td>
												Адрес:
											</td>

											<td>
												Санкт-Петербург, ул. Разъезжая, д. 13, 197002
											</td>

										</tr>

										<tr>

											<td>
												Дата доставки:
											</td>

											<td>
												13 - 14 сентября
											</td>

										</tr>

										<tr>

											<td>
												Срок хранения:
											</td>

											<td>
												7 дней
											</td>

										</tr>

										<tr>

											<td>
												Стоимость доставки:
											</td>

											<td>
												<b>700 ₽</b>
											</td>

										</tr>

									</tbody>

									<tbody>

										<tr>

											<th colspan="2">
												Получатель
											</th>

										</tr>

										<tr>

											<td>
												ФИО:
											</td>

											<td>
												Петрова Анна Михайловна
											</td>

										</tr>

										<tr>

											<td>
												Телефон:
											</td>

											<td>
												+7 (999) 567 45 32
											</td>

										</tr>

									</tbody>

								</table>

							</div>

						</div>

					</div>