				<article class="lk-order is-short">

					<div class="lk-order__head">

						<div class="lk-order__main">

							<div class="lk-order__row">

								<h2 class="lk-order__name h5">
									Заказ №12345
								</h2>

								<p class="lk-order__date">
									2 мая, 19:02
								</p>

							</div>

							<div class="lk-order__status">

								<div class="label label--violet">

									<p class="label__text">
										Отправлен
									</p>

								</div>

							</div>

						</div>

						<div class="lk-order__track">

							<p class="lk-order__track-number">
								Трек-номер: RM178626869HK
							</p>

							<a target="_blank" class="btn" href="/">
								Отследить
							</a>

						</div>

					</div>

{% include "lk/order/order__body.html" %}

{% include "lk/order/order__foot.html" %}

				</article>