{% set catalog = [

	{
		name   : "Пылесос Soteco Panda 515/26 XP Inox",
		photo  : "Soteco_Panda_515-26_XP_Inox",
		price  : "13 300",
		label      : "Распродажа",
		labelColor : "pink"
	},

	{
		name   : "Минимойка Karcher K 3",
		photo  : "Karcher_K_3",
		price  : "7 900",
		priceOld   : "8 900",
		label      : "Товар месяца",
		labelColor : "violet"
	},

	{
		name   : "Минимойка GRASS C22P-1508",
		photo  : "GRASS_C22P-1508",
		price  : "13 300"
	},

	{
		name   : "Аккумуляторная цепная пила Karcher CNS 18-30 Battery",
		photo  : "Karcher_CNS_18-30_Battery",
		price  : "19 490"
	},

	{
		name   : "Минимойка GRASS C22P-1508",
		photo  : "GRASS_C22P-1508",
		price  : "13 300"
	},

	{
		name   : "Аккумуляторная цепная пила Karcher CNS 18-30 Battery",
		photo  : "Karcher_CNS_18-30_Battery",
		price  : "19 490"
	},

	{
		name   : "Пылесос Soteco Panda 515/26 XP Inox",
		photo  : "Soteco_Panda_515-26_XP_Inox",
		price  : "13 300"
	},

	{
		name   : "Минимойка Karcher K 3",
		photo  : "Karcher_K_3",
		price  : "7 900",
		priceOld   : "8 900",
		label      : "Хит",
		labelColor : "blue"
	},

	{
		name   : "Минимойка GRASS C22P-1508",
		photo  : "GRASS_C22P-1508",
		price  : "13 300"
	},

	{
		name   : "Аккумуляторная цепная пила Karcher CNS 18-30 Battery",
		photo  : "Karcher_CNS_18-30_Battery",
		price  : "19 490"
	},

	{
		name   : "Минимойка GRASS C22P-1508",
		photo  : "GRASS_C22P-1508",
		price  : "13 300"
	},

	{
		name   : "Минимойка Karcher K 3",
		photo  : "Karcher_K_3",
		price  : "7 900",
		priceOld   : "8 900",
		label      : "Выгодно",
		labelColor : "green"
	}

] %}

	<section class="catalog-list">

		<div class="catalog-list__column catalog-list__column--3">

{% for item in catalog %}

			<article class="catalog-list__item">

				<a href="/" class="catalog-list__photo">

					<picture>

						<source srcset="/img/preview/catalog/{{ item.photo }}--180x240.webp 1x, /img/preview/catalog/{{ item.photo }}--360x480.webp 2x" type="image/webp">
						<source srcset="/img/preview/catalog/{{ item.photo }}--180x240.png 1x, /img/preview/catalog/{{ item.photo }}--360x480.png 2x">

						<img src="/img/preview/catalog/{{ item.photo }}--180x240.png" alt="{{ item.name }}" loading="lazy" width="180" height="240">

					</picture>

				</a>

				<div class="catalog-list__price">

					<div class="price">

{% if item.priceOld %}
						<b class="price__sale">
							{{ item.price }} ₽
						</b>

						<s class="price__old">
							{{ item.priceOld }} ₽
						</s>
{% else %}

						{{ item.price }} ₽
{% endif %}

					</div>

				</div>

				<div class="catalog-list__name h6">

					<a href="/">
						{{ item.name }}
					</a>

				</div>

				<form action="/" class="catalog-list__form form-buy">

{% if item.label %}

					<div class="catalog-list__label">

						<div class="label label--{{ item.labelColor }}">

							<div class="label__text">
								{{ item.label }}
							</div>

						</div>

					</div>

{% endif %}

					<div class="catalog-list__btn">

						<button class="btn btn--buy form-buy__submit">
							В корзину
						</button>

					</div>

				</form>

			</article>

{% endfor %}

		</div>

	</section>