					<ul class="menu-service">

						<li class="menu-service__item">

							<a class="menu-service__link" href="/">
								Мойки самообслуживания
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/">
								Акции
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/">
								Сервис
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/">
								Доставка и оплата
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/">
								Контакты
							</a>

						</li>

					</ul>