					<ul class="menu-service">

						<li class="menu-service__item">

							<a class="menu-service__link" href="/category/washes/">
								Мойки самообслуживания
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/aktsii/">
								Акции
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/service/">
								Сервис
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/dostavka-i-oplata/">
								Доставка и оплата
							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/contacts/">
								Контакты
							</a>

						</li>

					</ul>