{% set title = "Корзина" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center">

		<article class="cart">

			<h1 class="cart__title h2" data-counter="2">
				{{ title }}
			</h1>

			<div class="cart__box">

				<form action="/cart/" class="cart__list">

					<div class="cart__item">

						<input type="hidden" name="id[]" value="123">

						<div class="cart__item-flex">

							<a href="/catalog/product/" class="cart__item-link" target="_blank">

								<span class="cart__item-img">

									<picture>

										<source srcset="/img/cart/preview/GRASS_C22P-1508--126x126.webp" type="image/webp" media="(max-width: 1249px)">
										<source srcset="/img/cart/preview/GRASS_C22P-1508--126x126.jpg" media="(max-width: 1249px)">

										<source srcset="/img/cart/preview/GRASS_C22P-1508--81x81.webp 1x, /img/cart/preview/GRASS_C22P-1508--162x162.webp 2x" type="image/webp">
										<source srcset="/img/cart/preview/GRASS_C22P-1508--81x81.jpg 1x, /img/cart/preview/GRASS_C22P-1508--162x162.jpg 2x">

										<img src="/img/cart/preview/GRASS_C22P-1508--81x81.jpg" alt="Минимойка GRASS C22P-1508" loading="eager" width="81" height="81">

									</picture>

								</span>

								<div class="cart__item-body">

									<p class="cart__item-name h6">
										Минимойка GRASS C22P-1508
									</p>

									<p class="cart__item-desc">
										Первая мойка от Grass для каждого! (Какой-то комментарий)
									</p>

								</div>

							</a>

							<div class="cart__item-price">

								<div class="price">

									<s class="price__old">
										8 900 ₽
									</s>

									<b class="price__sale">
										7 900 ₽
									</b>

								</div>

							</div>

							<div class="cart__item-count">

								<span class="cart-quantity">

									<button class="cart-quantity__btn cart-quantity__btn--down button" type="button" aria-label="уменьшить на одну штуку">
										—
									</button>

									<input type="tel" value="1" class="cart-quantity__count input" maxlength="3">

									<button class="cart-quantity__btn cart-quantity__btn--up button" type="button" aria-label="увеличить на одну штуку">
										+
									</button>

								</span>

							</div>

							<div class="cart__item-remove">

								<button class="btn btn--ico" type="button" aria-label="удалить товариз корзины">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<path d="M5 5a1 1 0 0 0-1 1v1h16V6a1 1 0 0 0-1-1H5Zm11.15 15h-8.3a1 1 0 0 1-1-.84L5 8h14l-1.86 11.17a1 1 0 0 1-.99.83ZM9 4.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5V5H9v-.5Z"/>
									</svg>
								</button>

							</div>

						</div>

					</div>

					<div class="cart__item">

						<input type="hidden" name="id[]" value="124">

						<div class="cart__item-flex">

							<a href="/catalog/product/" class="cart__item-link" target="_blank">

								<span class="cart__item-img">

									<picture>

										<source srcset="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--126x126.webp" type="image/webp" media="(max-width: 1249px)">
										<source srcset="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--126x126.jpg" media="(max-width: 1249px)">

										<source srcset="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--81x81.webp 1x, /img/cart/preview/Soteco_Panda_515-26_XP_Inox--162x162.webp 2x" type="image/webp">
										<source srcset="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--81x81.jpg 1x, /img/cart/preview/Soteco_Panda_515-26_XP_Inox--162x162.jpg 2x">

										<img src="/img/cart/preview/Soteco_Panda_515-26_XP_Inox--81x81.jpg" alt="Пылесос Soteco Panda 515/26 XP Inox" loading="eager" width="81" height="81">

									</picture>

								</span>

								<div class="cart__item-body">

									<p class="cart__item-name h6">
										Пылесос Soteco Panda 515/26 XP Inox
									</p>

									<p class="cart__item-desc">
										Какой-то комментарий
									</p>

								</div>

							</a>

							<div class="cart__item-price">

								<div class="price">

									2 000 ₽

								</div>

							</div>

							<div class="cart__item-count">

								<span class="cart-quantity">

									<button class="cart-quantity__btn cart-quantity__btn--down button" type="button" aria-label="уменьшить на одну штуку">
										—
									</button>

									<input type="tel" value="1" class="cart-quantity__count input" maxlength="3">

									<button class="cart-quantity__btn cart-quantity__btn--up button" type="button" aria-label="увеличить на одну штуку">
										+
									</button>

								</span>

							</div>

							<div class="cart__item-remove">

								<button class="btn btn--ico" type="button" aria-label="удалить товариз корзины">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<path d="M5 5a1 1 0 0 0-1 1v1h16V6a1 1 0 0 0-1-1H5Zm11.15 15h-8.3a1 1 0 0 1-1-.84L5 8h14l-1.86 11.17a1 1 0 0 1-.99.83ZM9 4.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5V5H9v-.5Z"/>
									</svg>
								</button>

							</div>

						</div>

					</div>

				</form>

				<div class="cart__result">

					<div class="cart__result-sticke">

						<div class="cart__result-head">

							<p class="cart__result-title h5">
								Ваша корзина
							</p>

							<dl class="cart__result-weight">

								<dt>
									2 товара
								</dt>

								<dd>
									3 600 гр
								</dd>

							</dl>

						</div>

						<dl class="cart__result-list">

							<div class="cart__result-list-row">

								<dt>
									Товары (2)
								</dt>

								<dd>
									13 900 ₽
								</dd>

							</div>

							<div class="cart__result-list-row">

								<dt>
									Скидка
								</dt>

								<dd class="color-red">
									- 1 000 ₽
								</dd>

							</div>

							<div class="cart__result-list-row cart__result-list-row--total">

								<dt>
									Итого без учета доставки
								</dt>

								<dd>
									12 900 ₽
								</dd>

							</div>

						</dl>

						<a href="/order/" class="cart__result-next btn btn--big hidden-sm">
							Перейти к оформлению
						</a>

						<p class="cart__result-info">
							Доступные способы доставки и оплаты можно выбрать при оформлении заказа
						</p>

					</div>

				</div>

				<div class="cart__result-next-sticke visible-sm">

					<a href="/order/" class="btn btn--medium">
						Перейти к оформлению
					</a>

				</div>

			</div>

		</article>

{% set swiperTitle = "Рекомендуем" %}

{% include "_include/catalog-swiper.html" %}

	</div>

{% endblock %}0