	<div class="modal" id="modal">

		<div class="modal__box">

{% if headerUser === true %}

{% include "template/modal/exit.html" %}

{% else %}

{% include "template/modal/login.html" %}

{% include "template/modal/reg.html" %}

{% include "template/modal/recovery.html" %}

{% include "template/modal/login-required.html" %}

{% endif %}

{% include "template/modal/cart.html" %}

{% include "template/modal/city.html" %}

{% if editAccount === true %}

{% include "template/modal/account-edit-name.html" %}
{% include "template/modal/account-edit-phone.html" %}
{% include "template/modal/account-edit-email.html" %}
{% include "template/modal/account-edit-password.html" %}

{% endif %}

{% if editAddress === true %}

{% include "template/modal/account-address-remove.html" %}

{% endif %}

{% if editCard === true %}

{% include "template/modal/account-card-remove.html" %}

{% endif %}

{% if cart === true %}

{% include "template/modal/order-finish.html" %}
{% include "template/modal/order-create.html" %}

{% endif %}

			<div class="modal__item modal__item--ok">

				<div class="modal-login__head h2"></div>
				<div class="modal-login__text"></div>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="m12 10.59-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 0 0 1.42 1.4L12 13.42l5.3 5.3a1 1 0 0 0 1.4-1.42L13.42 12l5.3-5.3a1 1 0 1 0-1.42-1.4L12 10.58Z"/>
				</svg>
			</button>

		</div>

	</div>