
		<section class="catalog-swiper catalog-swiper--col-4 swiper-container-style">

			<h2 class="catalog-swiper__title h2 h2--sm-18">
				{{ swiperTitle }}
			</h2>

			<div class="swiper-wrap">

				<div class="swiper-inner">

					<div class="swiper-container swiper-container--card-auto">

						<div class="catalog-swiper__row swiper-wrapper">

{% set settings = [180,240,24,6] %}

{% for item in catalog %}

							<div class="catalog-swiper__item swiper-slide">

{% include "_include/catalog-preview.html" %}

							</div>

{% endfor %}

						</div>

					</div>

				</div>

			</div>

		</section>