		<fieldset class="filter__fieldset">

			<legend class="filter__legend h6">
				{{ fieldset.legend }}
			</legend>

{% if fieldset.list.length > 1 %}

			<div class="filter__item">

				<div class="checkbox">

					<label class="checkbox__control">

						<input type="checkbox" class="checkbox__input filter__checkbox-all" {% if fieldset.all === 'checked' %}checked="checked"{% endif %} name="{{ fieldset.name }}[]" value="all">

						<span class="checkbox__label">
							Все
						</span>

					</label>

				</div>

			</div>

{% endif %}

{% for item in fieldset.list %}

			<div class="filter__item">

				<div class="checkbox">

					<label class="checkbox__control">

						<input

							type="checkbox"
							class="checkbox__input"
							name="{{ fieldset.name }}[]"
							value="{{ loop.index }}"

						{% if item.checked %}

							checked="checked"

						{% endif %}

						{% if item.disabled %}

							disabled="disabled"

						{% endif %}

						>

						<span class="checkbox__label">
							{{ item.label }}
						</span>

					</label>

				</div>

			</div>

{% endfor %}

		</fieldset>