.article-list {

	margin: var(--space) 0;

	&__title {

		margin-bottom: var(--gap);

	}

	&__column {

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

		@media ($smWidth) {

			display: flex;
			gap: 0;
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			scroll-padding-left: var(--indent);
			margin: 0 calc( var(--indent) * -1 );
			padding-left: var(--indent);

		}

	}

	&__item {

		position: relative;

		@media ($smWidth) {

			width: 240px;
			flex-shrink: 0;
			margin-right: var(--indent);
			scroll-snap-align: start;
			scroll-snap-stop: always;

		}

		@media ($desktop) {

			&:hover {



			}

		}

	}

	&__photo {

		height: 256px;
		margin-bottom: 27px;
		display: block;

		@media ($smWidth) {

			height: 170px;
			margin-bottom: 12px;

			img {

				height: 170px;

			}

		}

		img {

			border-radius: 3px;
			max-width: 100%;
			object-fit: cover;

		}

	}

	&__name {

		margin-bottom: 18px;

		@media ($smWidth) {

			margin-bottom: 9px;

		}

	}

	&__text {

		font-size: 15px;
		line-height: 21px;
		color: var(--grey);

		@media ($smWidth) {

			font-size: 12px;
			line-height: 1.5;

		}

	}

}