.billboard {

	position: relative;
	flex-shrink: 0;

	.swiper-pagination {

		left: var(--indent);

	}

	&:not(.swiper-container-style) &__item + &__item {

		display: none;

	}

	&__wrap {

		display: flex;
		overflow: hidden;
		flex-grow: 1;

	}

	&__list {

		display: flex;
		width: 100%;

	}

	&__item {

		width: 100%;
		display: flex;
		flex-shrink: 0;
		height: 432px;

		.center {

			display: flex;

		}

	}

	&__img {

		display: flex;
		align-items: center;
		flex-grow: 1;

	}

	&__content {

		padding: 80px 0;
		flex-direction: column;
		display: flex;
		width: 680px;
		margin-right: 34px;
		flex-shrink: 0;

	}

	&__item--img-wide &__content {

		width: 496px;

	}

	&__intro {

		font-weight: 500;
		font-size: 21px;
		line-height: 27px;
		color: #F5C400;
		margin-bottom: 21px;

	}

	&__title {

		margin-bottom: 12px;

	}

	&__text {

		font-size: 18px;
		line-height: 24px;
		margin-bottom: 20px;

	}

	&__btn {

		margin-top: auto;
		width: 178px;

	}

}