.cart {

	margin: calc( var(--space) / 2) 0 var(--space);

	&__title {

		margin-bottom: var(--gap);

		&[data-counter]::after {

			content: '(' attr(data-counter) ')';
			color: var(--grey);

		}

	}

	&__empty {

		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0 auto;
		text-align: center;

		box-shadow: var(--card-shadow);
		border-radius: 3px;
		max-width: 728px;
		padding: 60px 30px;

		.h3 {

			margin-top: 30px;
			color: var(--grey);
			font-weight: 400;

		}

		.btn {

			min-width: 231px;
			margin-top: 42px;

		}

	}

	&__box {

		display: flex;

	}

	&__list {

		flex-grow: 1;
		margin-top: -24px;

	}

	&__item {

		box-shadow: var(--card-shadow);
		border-radius: 3px;
		margin-top: 24px;

		&.is-remove {

			transition: var(--transitionDefault);
			opacity: 0;
			margin-top: 0;
			overflow: hidden;
			pointer-events: none;
			height: 0 !important;

		}

		&-flex {

			position: relative;
			display: flex;
			padding: 39px 33px;
			align-items: center;

		}

		&-link {

			display: flex;
			align-items: center;
			width: 450px;
			flex-shrink: 0;

		}

		&-img {

			width: 81px;
			margin-right: 6px;
			flex-shrink: 0;

		}

		&-name {

			font-weight: 400;

		}

		&-desc {

			margin-top: 6px;
			font-size: 12px;
			font-weight: 500;
			line-height: 18px;
			color: #f5c400;

		}

		&-price {

			display: flex;
			flex-grow: 1;
			justify-content: flex-end;
			margin: 0 10px;

			.price__old {

				margin-left: 0;
				margin-right: 12px;

			}

		}

		&-count {

			width: 117px;
			margin: 0 20px;
			flex-shrink: 0;

		}

		&-remove {

			position: absolute;
			top: 12px;
			right: 12px;

		}

	}

	&__result {

		width: 407px;
		margin-left: 27px;

		&-sticke {

			position: sticky;
			top: calc( var(--heightHeader) + var(--gap) );
			box-shadow: var(--card-shadow);
			border-radius: 3px;
			padding: 36px 21px 15px;

		}

		&-head {

			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 24px;

		}

		&-weight {

			display: flex;
			font-size: 12px;
			line-height: 18px;
			color: var(--grey);
			align-items: center;

			dd {

				display: flex;
				align-items: center;

				&::before {

					margin: 6px;
					width: 3px;
					height: 3px;
					content: '';
					border-radius: 50%;
					background-color: #bcbbc7;

				}

			}

		}

		&-list {

			&-row {

				display: flex;
				justify-content: space-between;
				font-size: 15px;
				line-height: 24px;
				white-space: nowrap;
				margin: 9px 0;
				align-items: baseline;

				dd {

					font-weight: 500;

				}

				&--total {

					margin-top: 18px;
					padding-top: 18px;
					border-top: 1px solid #f7f7f9;
					font-weight: 500;

					dd {

						font-size: 21px;

					}

				}

			}

		}

		&-next {

			margin-top: 30px;

		}

		&-info {

			color: var(--grey);
			font-size: 12px;
			line-height: 18px;
			margin-top: 15px;
			max-width: 330px;

		}

		&-min-order {

			color: var(--red);
			font-size: 15px;
			line-height: 21px;
			margin: 15px 0;

		}

	}

	&-quantity {

		position: relative;
		display: block;
		user-select: none;

		&__count {

			text-align: center;
			line-height: 39px;
			height: 39px;
			font-weight: 700;
			padding: 0;

			@media ($desktop) {

				font-size: 18px;

			}

		}

		&__btn {

			position: absolute;
			width: 21px;
			height: 21px;
			top: 0;
			bottom: 0;
			right: 14px;
			margin: auto;
			z-index: 1;
			font-size: 27px;
			line-height: 21px;
			color: var(--grey);
			text-align: center;

			&--down {

				left: 15px;
				right: auto;
				color: #d9d8df;
				font-weight: 500;

			}

		}

	}

}