.catalog {

	display: flex;

	&__filter {

		width: 370px;
		flex-shrink: 0;
		padding-right: 105px;

	}

	&__body {

		width: calc( 100% - 370px );

	}

	&__sort {

		margin-bottom: 30px;

	}

	&__list {

		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
		display: grid;
		margin-bottom: 48px;
		position: relative;

	}

}

.catalog-item {

	position: relative;
	display: flex;
	border-radius: 3px;
	box-shadow: var(--card-shadow);
	flex-direction: column;
	padding: 12px 20px 18px;
	flex-shrink: 0;

	@media ($desktop) {

		&:hover {

			box-shadow: var(--box-shadow);

		}

	}

	&__photo {

		height: 225px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {

			mix-blend-mode: multiply;

		}

	}

	&__label {

		position: absolute;
		top: 12px;
		right: 12px;

	}

	&__price {

		margin: 7px 0 12px;

		.price {

			font-size: 21px;

		}

	}

	&__name {

		margin-bottom: 15px;
		font-size: 18px;
		line-height: 24px;

	}

	&__form {

		margin-top: auto;

	}

}