.catalog-list {

	margin: var(--space) 0;
	position: relative;

	&__title {

		margin-bottom: var(--gap);

	}

	&__column {

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: var(--gap) 22px;

	}

}