.catalog-preview {

	position: relative;
	display: flex;
	border-radius: 3px;
	box-shadow: var(--card-shadow);
	flex-direction: column;
	padding: 15px 21px 30px;
	flex-grow: 1;

	.catalog__list & {

		padding: 12px 20px 18px;

		@media ($smWidth) {

			margin: var(--gap) 0;
			padding: 24px 140px 24px 12px;
			min-height: 190px;

			&__photo {

				position: absolute;
				width: 112px;
				height: 150px;
				top: 20px;
				right: 20px;
				outline:1px solid red;

			}

		}

	}

	.catalog-swiper-group & {

		padding: 12px 12px 15px;

	}

	@media ($desktop) {

		&:hover {

			box-shadow: var(--box-shadow);

		}

	}

	&__photo {

		display: flex;
		align-items: center;
		justify-content: center;

		.service & {

			margin: -12px -20px 9px;

			img {

				border-radius: 3px 3px 0 0;

			}

		}

		img {

			mix-blend-mode: multiply;

			@media ($smWidth) {

				width: 112px;
				height: 150px;
				object-fit: contain;

			}

		}

	}

	&__label {

		position: absolute;
		top: 15px;
		right: 15px;

		.catalog__list &,
		.catalog-swiper-group & {

			top: 12px;
			right: 12px;

		}

	}

	&__price {

		margin-bottom: 12px;

		.catalog__list & {

			margin: 9px 0 12px;

			@media ($smWidth) {

				margin: 0 0 9px;

				.price__old {

					margin-left: 12px;
					font-size: 15px;

				}

			}

		}

		.catalog-swiper-group & {

			margin: 10px 0 3px;

		}

	}

	&__name {

		margin-bottom: 24px;

		&.h7 {

			font-weight: 400;
			margin-bottom: 15px;

		}

		.catalog__list & {

			font-weight: 400;
			margin-bottom: 14px;

			@media ($smWidth) {

				margin-bottom: 24px;
				font-weight: 500;

			}

		}

	}

	&__form {

		margin-top: auto;

		@media ($smWidth) {

			.btn {

				min-width: 116px;
				height: 36px;
				line-height: 36px;

			}

		}

	}

}