.category {

	margin: 45px 0 0;
	display: flex;

	&__title {

		font-weight: 500;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 30px;

	}

	&__head {

		width: 370px;
		flex-shrink: 0;
		padding-right: 74px;

	}

	&__body {

		width: calc( 100% - 370px );
		margin-top: 56px;

	}

}

.category-cards {

	&__wrap {

		overflow: hidden;
		transition: var(--transitionDefault);

	}

	&__list {

		display: grid;
		gap: 24px;
		grid-template-columns: repeat(4, 1fr);

	}

	&__item {

		height: 212px;
		position: relative;
		transition: var(--transitionDefault);
		background-color: #f7f7f9;
		border-radius: 12px;

		@media ($desktop) {

			&:hover {

				background-color: var(--border);

			}

		}

	}

	&__link {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 24px 15px;
		border-radius: 12px;

	}

	img {

		position: absolute;
		right: 15px;
		bottom: 15px;
		mix-blend-mode: multiply;

	}

	&__toggle {

		display: flex;
		justify-content: center;
		--text: var(--grey);
		margin-top: 24px;
		padding-left: 27px;

		.btn {

			gap: 3px;
			font-weight: 400;

			&::before {

				content: attr(aria-label);

			}

			@media ($desktop) {

				&:hover {

					--text: var(--dark);

				}

			}

		}

	}

	&.is-open &__toggle .btn {

		&::before {

			content: attr(data-alt);

		}

		svg {

			transform: scaleY(-1);

		}

	}

	&:not(.is-open) &__item {

		&:nth-child(n+9) {

			display: none;

		}

	}

}