.category {

	margin: calc( var(--space) / 2) 0 0;
	display: flex;

	@media ($mdWidth) {

		margin: calc( var(--space) / 2) auto var(--space);
		display: block;

	}

	@media ($smWidth) {

		margin: var(--space) 0;

	}

	&__title {

		font-weight: 500;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 30px;

		@media ($smWidth) {

			font-size: 24px;
			line-height: 30px;
			margin-bottom: var(--space);

		}

	}

	&__head {

		width: 370px;
		flex-shrink: 0;
		padding-right: 74px;

		@media ($mdWidth) {

			width: auto;
			padding: 0;

			.menu-category {

				display: none;

			}

		}

	}

	&__body {

		width: calc( 100% - 370px );
		margin-top: 56px;

		@media ($mdWidth) {

			margin: 0;
			width: auto;

		}

	}

}

.category-cards {

	&__wrap {

		overflow: hidden;
		transition: var(--transitionDefault);

	}

	&__list {

		display: grid;
		gap: 24px;
		grid-template-columns: repeat(4, 1fr);

		@media ($smWidth) {

			gap: var(--gap);
			grid-template-columns: repeat(2, 1fr);

		}

	}

	&__item {

		height: 212px;
		position: relative;
		transition: var(--transitionDefault);
		background-color: #f7f7f9;
		border-radius: 12px;

		@media ($smWidth) {

			height: 159px;

		}

		@media ($desktop) {

			&:hover {

				background-color: var(--border);

			}

		}

	}

	&__link {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 24px 15px;
		border-radius: 12px;

		@media ($smWidth) {

			padding: var(--gap);
			font-size: 15px;
			line-height: 21px;

		}

		@media ($xsWidth) {

			font-size: 12px;

		}

	}

	img {

		position: absolute;
		right: 15px;
		bottom: 15px;
		mix-blend-mode: multiply;

		@media ($smWidth) {

			right: 0;
			bottom: 0;
			height: 100px;
			width: auto;
			object-fit: contain;

		}

	}

	&__toggle {

		display: flex;
		justify-content: center;
		--text: var(--grey);
		margin-top: 24px;
		padding-left: 27px;

		@media ($smWidth) {

			margin-top: 21px;

		}

		.btn {

			gap: 3px;
			font-weight: 400;

			&::before {

				content: attr(aria-label);

			}

			@media ($desktop) {

				&:hover {

					--text: var(--dark);

				}

			}

		}

	}

	&.is-open &__toggle .btn {

		&::before {

			content: attr(data-alt);

		}

		svg {

			transform: scaleY(-1);

		}

	}

	&:not(.is-open) &__item {

		&:nth-child(n+9) {

			display: none;

		}

		@media ($smWidth) {

			&:nth-child(n+7) {

				display: none;

			}

		}

	}

}