.category {

	display: flex;

	&__head {

		width: 370px;
		flex-shrink: 0;
		padding-right: 33px;

	}

	&__body {

		flex-grow: 1;

	}

}

.category-cards {

	display: grid;
	gap: 24px;
	grid-template-columns: repeat(4, 1fr);

	&__item {

		height: 212px;
		position: relative;
		background-color: #f7f7f9;
		border-radius: 12px;

	}

	&__link {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 24px 15px;
		border-radius: 12px;

	}

	img {

		position: absolute;
		right: 15px;
		bottom: 15px;

	}

}