.color-yellow {

	color: var(--yellow);

}

.color-green {

	color: var(--green);

}

hr {

	border: 0;
	height: 1px;
	background-color: #f7f7f9;

}

.link {

	text-decoration: underline;

	@media ($desktop) {

		&:hover {

			text-decoration: underline;
			text-decoration-color: transparent;
			transition: var(--transitionDefault);

		}

	}

}

.h0 {

	font-weight: 500;
	font-size: 42px;
	line-height: 54px;

}

.h1 {

	font-weight: 500;
	font-size: 39px;
	line-height: 45px;

}

.h2 {

	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

}

.h3 {

	font-weight: 500;
	font-size: 27px;
	line-height: 33px;

}

.h4 {

	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

}

.h5 {

	font-weight: 500;
	font-size: 21px;
	line-height: 27px;

}

.h6 {

	font-weight: 500;
	font-size: 18px;
	line-height: 24px;

}

.h7 {

	font-weight: 500;
	font-size: 15px;
	line-height: 21px;

}

.w100p {

	width: 100%;

}

.align-center {

	text-align: center;

}

table {

	border: 0;
	border-collapse: collapse;

}


.white-space-nowrap {

	white-space: nowrap;

}



.label {

	display: flex;
	border-radius: 12px;

	&__text {

		white-space: nowrap;
		font-size: 12px;
		font-weight: 400;
		line-height: 24px;
		color: #fff;
		padding: 0 15px;

	}

	&--green {

		background-color: var(--green);

	}

	&--violet {

		background-color: var(--violet);

	}

	&--blue {

		background-color: var(--blue);

	}

	&--pink {

		background-color: var(--pink);

	}

}

.price {

	display: flex;
	white-space: nowrap;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

	&--fz18 {

		font-size: 18px;

	}

	&--fz18 &__old {

		margin-left: 12px;

	}

	&--fz21 {

		font-size: 21px;
		line-height: 27px;

	}

	&--fz21 &__old {

		margin-left: 15px;
		font-size: 21px;

	}

	&__sale {

		color: var(--red);
		font-weight: bold;

	}

	&__old {

		font-size: 18px;
		color: var(--grey);
		margin-left: 18px;
		font-weight: 400;
		text-decoration: none;
		position: relative;

		&::after {

			position: absolute;
			height: 2px;
			top: 0;
			left: -2px;
			right: -2px;
			bottom: 2px;
			margin: auto;
			content: '';
			background-color: var(--red);
			transform: rotate(-5deg);

		}

	}

}

/* .page-title {

	font-weight: 500;
	font-size: 36px;
	line-height: 42px;

}
 */
.list-disk {

	margin: 21px 0;

	li {

		margin: 18px 0;
		font-size: 15px;
		line-height: 21px;
		padding-left: 13px;

		&::before {

			position: absolute;
			width: 3px;
			height: 3px;
			top: 10px;
			left: 2px;
			content: '';
			border-radius: 50%;
			background-color: #bcbbc7;

		}

	}

}