.files {

	&__item + &__item {

		margin-top: 10px;

	}

	&__link {

		display: flex;
		align-items: center;
		color: var(--Indigo);
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;

		svg {

			margin-right: 9px;
			fill: var(--Indigo);

		}

	}

}