.filter {

	margin: 30px 0;

	@media ($mdWidth) {

		margin: 18px 0 0;

	}

	&__header {

		display: flex;
		justify-content: center;
		position: relative;
		margin-bottom: 24px;

		@media ($desktop) {

			display: none;

		}

	}

	&__title {

		font-weight: 500;
		font-size: 18px;
		line-height: 24px;

	}

	&__btn-close {

		position: absolute;
		width: 24px;
		height: 24px;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		svg {

			fill: var(--BnW);

		}

	}

	&__submit {

		margin: 0 calc(var(--indent) * -1);
		padding: 0 var(--indent) var(--indent);
		background-color: #fff;
		z-index: 1;
		position: sticky;
		bottom: 0;

		&::after {

			position: absolute;
			height: 36px;
			left: 0;
			right: 0;
			bottom: 100%;
			content: '';
			pointer-events: none;
			background-image: linear-gradient( to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

		}

		.btn {

			width: 100%;
			margin: 0 auto;
			max-width: 768px;

		}

		@media ($desktop) {

			display: none;

		}

	}

	&__fieldset {

		margin: 24px 0;

		@media ($mdWidth) {

			margin: 24px auto;
			max-width: 768px;

		}

	}

	&__legend {

		margin-bottom: 3px;

	}

	&__item {

		margin: 12px 0;

	}

	&__nouislider {

		margin: 6px 0 12px;
		position: relative;

		.input.is-side {

			color: var(--grey);

		}

	}

}