.filter {

	margin: 30px 0;

	&__fieldset {

		margin: 24px 0;

	}

	&__legend {

		margin-bottom: 3px;

	}

	&__item {

		margin: 12px 0;

	}

	&__nouislider {

		margin: 6px 0 12px;
		position: relative;

		.input.is-side {

			color: var(--grey);

		}

	}

}