.header {

	flex-shrink: 0;
	position: sticky;
	top: 0;
	z-index: 9;
	background-color: var(--bg);
	box-shadow: var(--box-shadow);
	transition: var(--transitionDefault);
	padding: 24px 0;

	&__flex {

		display: flex;
		align-items: center;

		& + & {

			margin-top: 24px;

		}

	}

	&__logo {

		width: 154px;

	}

	&__btn-catalog {

		margin: 0 12px;

	}

	&__search {

		flex-grow: 1;

	}

	&__account {

		display: grid;
		grid-template-columns: repeat(3, 60px);
		grid-gap: 24px;
		margin-left: 32px;

		&-item {

			color: var(--color);
			text-align: center;
			font-size: 12px;
			line-height: 20px;
			transition: var(--transitionDefault);

			@media ($desktop) {

				&:hover {

					--color: var(--text);

				}

			}

			svg {

				margin: auto;
				fill: var(--color);

			}

		}

	}

	&__menu-service {

		flex-grow: 1;

	}

}

.btn-menu-toggle {

	display: none;

	@media ($mdWidth) {

		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		top: 6px;
		right: 16px;

		&__line {

			position: absolute;
			width: 18px;
			height: 2px;
			top: 0;
			right: 3px;
			bottom: 0;
			margin: auto;
			background-color: var(--black_dark);
			transform: rotate(0deg);
			will-change: transform;
			transition: var(--transitionDefault);
			border-radius: 2px;

			.menu-show & {

				height: 3px;
				background-color: var(--grey);

				&--top {

					bottom: 0;
					transform: rotate(-225deg);

				}

				&--center {

					opacity: 0;
					transform: rotate(-360deg);
					width: 18px;

				}

				&--bottom {

					transform: rotate(-315deg);
					top: 0;
					width: 18px;

				}

			}

			&--top {

				bottom: 10px;

			}

			&--center {

				width: 12px;

			}

			&--bottom {

				top: 10px;
				width: 6px;

			}

		}

	}

}

@media ($mdWidth) {

	.menu-show {

		background-color: var(--color);

		.main,
		.footer {

			display: none;

		}

		.header {

			background-color: transparent;
			box-shadow: none;

			&::before {

				position: absolute;
				height: 100px;
				top: 0;
				left: 0;
				right: 0;
				content: '';
				background-color: #fff;

			}

			&__flex {

				flex-direction: column;
				flex-grow: 1;
				align-items: stretch;

			}

			&__menu {

				display: block;
				order: 5;

			}

			&__phone {

				display: flex;

			}

		}

	}

}