.user-menu {

	&__photo {

		width: 121px;
		height: 121px;
		line-height: 121px;
		text-align: center;
		color: #fff;
		font-size: 33px;
		font-weight: 700;
		letter-spacing: 4.5px;
		border-radius: 50%;
		background-color: var(--border);
		text-transform: uppercase;

	}

	&__name {

		font-size: 24px;
		line-height: 30px;
		color: var(--text);
		margin: 24px 0;

	}

	&__email {

		font-size: 15px;
		line-height: 24px;

		a {

			color: var(--grey);

		}

	}

	&__item {

		margin: 12px 0;

		&.is-active {

			--grey: var(--dark);

		}

	}

	&__link {

		display: flex;
		align-items: center;
		color: var(--grey);
		font-size: 18px;
		line-height: 24px;
		width: 100%;

		svg {

			fill: var(--grey);
			margin-right: 12px;

		}

		@media ($desktop) {

			&:hover {

				--grey: var(--dark);

			}

		}

	}

	hr {

		margin: 24px 0;

	}

	/* наведение в шапке */

	&--header {

		padding: 42px 30px;
		width: 435px;
		background-color: #fff;
		box-shadow: var(--box-shadow);
		border-radius: 3px;
		text-align: left;

	}

	&--header &__head {

		margin-bottom: var(--gap);
		position: relative;
		padding-left: 90px;
		min-height: 63px;

	}

	&--header &__photo {

		width: 69px;
		height: 69px;
		line-height: 69px;
		font-size: 20px;
		letter-spacing: 1.5px;
		top: -6px;
		left: 0;
		position: absolute;

	}

	&--header &__name {

		margin: 0 0 3px;

	}

	/* гамбургер в мобильном */

	&--mobile {

		hr {

			display: none;

		}

	}

	&--mobile &__head {

		position: relative;
		min-height: 60px;
		background-color: #fbfafb;
		padding: var(--indent);
		margin: 0 calc( var(--indent) * -1);

	}

	&--mobile &__photo {

		width: 48px;
		height: 48px;
		line-height: 48px;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1.5px;
		top: var(--indent);
		left: var(--indent);
		position: absolute;

	}

	&--mobile &__name {

		font-size: 21px;
		line-height: 27px;
		margin: 0 0 3px 60px;

	}

	&--mobile &__email {

		font-size: 12px;
		line-height: 18px;
		margin-left: 60px;

	}

	&--mobile &__list {

		margin: 25px 0;

	}

	&--mobile &__item {

		margin: 21px 0;

	}

	&--mobile &__link {

		color: var(--text);
		font-size: 15px;

		svg {

			fill: var(--text);
			margin-right: 9px;

		}

		&--exit {

			color: var(--grey);
			margin: 33px 0 28px;

			svg {

				fill: var(--grey);

			}

		}

	}

}

.lk {

	margin: calc( var(--space) / 2) 0 var(--space);
	display: flex;

	@media ($mdWidth) {

		display: block;
		margin: var(--space) auto;
		max-width: 830px;

	}

	@media ($smWidth) {

		max-width: 550px;
		margin: var(--space) auto 33px;

	}

	&__head {

		width: 290px;
		margin-right: 85px;
		flex-shrink: 0;

		@media ($mdWidth) {

			display: none;

		}

	}

	&__body {

		flex-grow: 1;

	}

	&__title {

		margin: 20px 0 var(--gap);

		@media ($smWidth) {

			margin-bottom: 21px;

		}

	}

	&__box {

		padding: 30px;
		box-shadow: var(--card-shadow);
		border-radius: 3px;

		@media ($smWidth) {

			padding: 18px;

		}

	}

	&__empty {

		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 30px 0;
		text-align: center;

		@media ($smWidth) {

			margin: 12px 0 0;

			svg {

				width: 36px;
				height: 36px;

			}

			.h3 {

				font-size: 18px;
				line-height: 24px;
				margin: 15px 0 12px;

			}

			.btn {

				margin-top: 30px;
				min-width: 164px;
				font-size: 15px;
				height: 42px;
				line-height: 42px;

			}

		}

		.h3 {

			margin-top: 30px;
			color: var(--grey);
			font-weight: 400;

		}

		.btn {

			min-width: 231px;
			margin-top: 42px;

		}

	}

	&__btn-add {

		display: flex;
		justify-content: center;
		margin-top: calc( var(--space) / 2);

		@media ($smWidth) {

			margin-top: var(--space);

		}

	}

}

.lk-data-card {

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: -9px;

	@media ($smWidth) {

		display: block;
		margin: 0;

	}

	&__item {

		margin: 9px;
		box-shadow: var(--card-shadow);
		border-radius: 3px;
		width: calc( 50% - 18px );
		padding: 27px 30px;
		position: relative;
		font-size: 18px;
		line-height: 24px;

		@media ($smWidth) {

			margin: var(--gap) 0;
			width: 100%;
			padding: 18px;

		}

		.btn {

			position: absolute;
			top: -12px;
			right: -12px;

			@media ($smWidth) {

				top: 0;
				right: -2px;

			}

		}

	}

	&__name {

		color: var(--grey);
		position: relative;
		margin-bottom: 12px;

	}

	&__value {


	}

}

.lk-add-address {

	margin: 0 15px;

	@media ($smWidth) {

		margin: 0;

	}

	&__row {

		display: flex;
		margin: 16px -9px 27px;

		@media ($smWidth) {

			&--col2 {

				flex-wrap: wrap;
				justify-content: space-between;

				.inputbox {

					width: calc( 50% - 18px );

					&:nth-child(n+3) {

						margin-top: 27px;

					}

				}

			}

		}

		.inputbox {

			flex-grow: 1;
			margin: 0 9px;

		}

	}

	&__foot {

		display: flex;
		justify-content: flex-end;
		margin: 51px 0 -6px;

		@media ($smWidth) {

			margin: 42px 0 0;

		}

		.btn {

			margin-left: 15px;

			&--white {

				min-width: 169px;

				@media ($smWidth) {

					min-width: 0;
					margin-left: 0;

				}

			}

		}

	}

}

.lk-address-list {

	&__item {

		padding: 36px 27px 36px 45px;
		display: flex;
		margin: 18px 0;
		box-shadow: var(--card-shadow);
		border-radius: 3px;

		@media ($smWidth) {

			padding: 18px;
			margin: 12px 0;

		}

	}

	&__ico {

		margin-right: 21px;
		flex-shrink: 0;

		@media ($smWidth) {

			margin-right: 6px;

		}

		svg {

			fill: #f5c400;

		}

	}

	&__text {

		flex-grow: 1;
		font-size: 18px;
		line-height: 24px;

		br {

			display: none;

		}

		@media ($smWidth) {

			font-size: 15px;
			line-height: 21px;
			padding-top: 2px;

			br {

				display: block;

			}

		}

		b {

			font-weight: 500;

			@media ($smWidth) {

				display: block;

			}

		}

	}

	&__btns {

		display: flex;

		@media ($smWidth) {

			margin-right: -3px;

		}

		.btn {

			margin-left: 24px;

		}

	}

}

.lk-card-list {

	&__item {

		padding: 36px 27px;
		display: flex;
		margin: 18px 0;
		box-shadow: var(--card-shadow);
		border-radius: 3px;

		@media ($smWidth) {

			padding: 18px 15px 18px 0;
			margin: 12px 0;

		}

	}

	&__logo {

		flex-shrink: 0;
		width: 76px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 2px;

	}

	&__text {

		flex-grow: 1;
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;

	}

	&__btns {

		display: flex;

	}

}

.lk-add-card {

	position: relative;
	width: 650px;
	max-width: 100%;

	&::before {

		height: 320px;
		outline:1px solid red;
		content: '';
		display: block;

	}

	&__btn {

		display: flex;
		justify-content: flex-end;
		margin-top: 20px;

	}
}

.lk-filter {

	display: flex;
	justify-content: flex-end;
	margin-top: -40px;
	height: 36px;

	@media ($smWidth) {

		margin: -5px 0 15px;

	}

}

.lk-order {

	margin-top: 21px;
	box-shadow: var(--card-shadow);
	border-radius: 3px;
	padding: 21px;
	position: relative;

	@media ($smWidth) {

		padding: 18px;
		margin-top: 12px;

	}

	&__head {

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 12px 0;
		border-bottom: 1px solid #f7f7f9;

		@media ($smWidth) {

			padding: 0 0 8px;
			align-items: stretch;

		}

	}

	&__main {

		display: grid;
		gap: 12px 24px;
		align-items: center;
		margin: 3px 0;
		grid-template-areas: "name date"
							 "status status";

		@media ($smWidth) {

			gap: 6px;
			margin: 0;
			grid-template-areas: "name"
								 "status"
								 "date";

		}

	}

	&__name {

		grid-area: name;

	}

	&__date {

		font-size: 12px;
		color: var(--grey);
		grid-area: date;

		@media ($smWidth) {

			margin-top: 10px;

		}

	}

	&__status {

		display: flex;
		grid-area: status;

	}

	&__track {

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;

		@media ($smWidth) {

			flex-direction: column-reverse;
			justify-content: space-between;

		}

		&-number {

			font-size: 12px;
			font-weight: 500;
			margin: 7px 0 11px;
			line-height: 18px;
			color: var(--grey);
			text-align: right;

			@media ($smWidth) {

				margin-bottom: 0;

			}

		}

		.btn {

			min-width: 142px;

			@media ($smWidth) {

				min-width: 0;

			}

		}

	}

	&__body {

		padding: 27px 0 9px;
		position: relative;

		@media ($smWidth) {

			padding: 30px 0 0;

		}

		&-inner {

			display: flex;
			overflow: hidden;

			@media ($smWidth) {

				display: block;

			}

		}

		&-left {

			width: 347px;
			margin-right: calc( var(--gap) * 2);
			display: flex;
			flex-direction: column;

			@media ($smWidth) {

				width: auto;
				margin: 0 0 8px;

			}

		}

	}

	&.is-short &__body-inner {

		max-height: 62px;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-image: linear-gradient(0deg, #fff 24%, rgba(255, 255, 255, 0) 119%);

		}

	}

	&__list {

		max-width: 300px;

		&-item {

			display: flex;
			margin-bottom: 26px;

			@media ($smWidth) {

				margin-bottom: 15px;

			}

		}

	}

	&__total {

		margin: 6px 0;
		border-top: 1px solid #f7f7f9;
		padding: 28px 0;
		display: flex;
		justify-content: space-between;

		&-label {

			font-weight: 500;
			font-size: 15px;
			line-height: 24px;

		}

		&-value {

			font-size: 21px;
			font-weight: 500;
			line-height: 27px;

		}

	}

	&__repeat {

		margin: auto 0 6px;

	}

	&__product {

		display: flex;
		align-items: center;

		&-img {

			margin-right: 6px;
			flex-shrink: 0;

			@media ($smWidth) {

				margin-right: 3px;

				img {

					width: 45px;
					height: auto;

				}

			}

		}

		&-name {

			display: block;
			margin-bottom: 3px;
			font-size: 15px;
			line-height: 21px;

			@media ($smWidth) {

				font-size: 12px;
				line-height: 18px;
				margin: 0;

			}

		}

		&-price {

			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			display: block;
			white-space: nowrap;

			@media ($smWidth) {

				font-size: 15px;
				line-height: 21px;

			}

		}

	}

	&__table {

		max-width: 350px;
		width: 100%;

		@media ($smWidth) {

			max-width: 100%;

		}

		th {

			font-size: 15px;
			font-weight: 500;
			line-height: 21px;
			text-align: left;
			padding: 8px 0 6px;

		}

		tbody + tbody th {

			padding-top: 21px;

			@media ($smWidth) {

				padding-top: 24px;

			}

		}

		td {

			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			text-align: left;
			padding: 6px 0;
			vertical-align: top;

			@media ($smWidth) {

				& + td {

					text-align: right;

				}

			}

			&:first-child {

				color: var(--grey);
				padding-right: 15px;
				white-space: nowrap;

			}

			b {

				font-weight: 500;

			}

		}

	}

	&__foot {

		display: flex;
		justify-content: center;

	}

	&.is-short &__foot {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 18px;

	}

	&:not(.is-short) &__foot .btn {

		span {

			display: none;

		}

		svg {

			transform: scale(-1);

		}

		&::before {

			content: attr(data-alt);

		}

	}

}