.menu {

}

.menu-service {

	display: flex;

	&__item {

		margin-right: 33px;

	}

	&__link {

		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		color: var(--text);
		transition: var(--transitionDefault);

		@media ($desktop) {

			&:hover {

				color: #f5c400;

			}

		}

	}

}

.menu-contacts {

	display: flex;

	&__item {

		margin-left: 30px;

	}

	&__link {

		display: flex;
		align-items: center;
		color: var(--grey);
		font-weight: 500;
		font-size: 15px;
		transition: var(--transitionDefault);

		@media ($desktop) {

			&:hover {

				color: var(--text);

			}

		}

		svg {

			margin-right: 3px;
			fill: #f5c400;

		}

	}

}