.news-list {

	margin: var(--space) 0;

	.aktsii & {

		margin-top: calc( var(--space) / 2);

	}

	.swiper-inner {

		padding: 0;
		margin: 0;

		@media ($mdWidth) {

			overflow: visible;

		}

	}

	&__title {

		margin-bottom: var(--gap);

	}

	&__column {

		display: flex;

		@media ($mdWidth) {

			overflow-x: auto;
			scroll-snap-type: x mandatory;
			scroll-padding-left: var(--indent);
			margin: calc( var(--indent) * -1 );
			padding: var(--indent);

		}

	}

	&__item {

		width: 336px !important;
		flex-shrink: 0;
		position: relative;
		margin-right: var(--gap);

		@media ($mdWidth) {

			width: 240px !important;
			margin-right: 0;
			margin-left: var(--gap);
			scroll-snap-align: start;
			scroll-snap-stop: always;

			&:first-child {

				margin-left: 0;

			}

		}

		@media ($desktop) {

			&:hover {

			}

		}

		&:last-child {

			margin-right: 0;

		}

	}

	&__photo {

		height: 216px;
		margin-bottom: 30px;
		display: block;

		@media ($mdWidth) {

			height: 170px;

			img {

				height: 170px;
				width: 100%;
				object-fit: cover;

			}

		}

		@media ($smWidth) {

			margin-bottom: 9px;

		}

	}

	&__name {

	}

	&__date {

		margin-bottom: 12px;
		font-size: 15px;
		display: block;
		line-height: 21px;
		color: var(--grey);

		@media ($smWidth) {

			font-size: 12px;
			line-height: 18px;
			margin-bottom: 9px;

		}

	}

}