.news-list {

	margin: var(--space) 0;

	.aktsii & {

		margin-top: calc( var(--space) / 2);

	}

	.swiper-inner {

		padding: 0;
		margin: 0;

	}

	&__title {

		margin-bottom: var(--gap);

	}

	&__column {

		display: flex;

	}

	&__item {

		width: 336px !important;
		flex-shrink: 0;
		position: relative;
		margin-right: var(--gap);

		@media ($desktop) {

			&:hover {

			}

		}

		&:last-child {

			margin-right: 0;

		}

	}

	&__photo {

		height: 216px;
		margin-bottom: 30px;
		display: block;

	}

	&__name {

	}

	&__date {

		margin-bottom: 12px;
		font-size: 15px;
		display: block;
		line-height: 21px;
		color: var(--grey);

	}

}