.page404 {

	padding: 110px 0;
	display: flex;
	justify-content: center;

	@media ($mdWidth) {

		justify-content: center;
		padding: 42px 0;

	}

	&__content {

		width: 460px;
		margin-right: 22px;

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__img {

		@media ($mdWidth) {

			display: none;

		}

	}

	&__title {

		margin: 24px 0;
		font-weight: bold;
		font-size: 63px;
		line-height: 1.1;

		@media ($smWidth) {

			text-align: center;
			margin: 9px 0;

		}

	}

	&__text {

		font-size: 24px;
		line-height: 1.25;
		color: var(--grey);

		@media ($smWidth) {

			font-size: 15px;
			line-height: 1.4;
			max-width: 274px;
			margin: auto;

		}

	}

	&__btn {

		display: flex;
		margin-top: 48px;

		@media ($smWidth) {

			margin: 36px 0;

			.btn {

				width: 100%;

			}

		}

		.btn {

			min-width: 230px;

		}

	}

}