.page-up {

	position: fixed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	bottom: var(--indent);
	right: var(--indent);
	transition: opacity var(--transitionDefault);
	z-index: 8;

	@media ($mdWidth) {

		width: 36px;
		height: 36px;

	}

	&.is-hidden {

		opacity: 0;
		pointer-events: none;

	}

	svg {

		fill: #f5c400;

	}

}