.select {

	display: block;
	position: relative;
	transition: z-index 0s var(--transitionDefault);

	&--disabled {

		pointer-events: none;

	}

	&--open {

		z-index: 5;
		transition: none;

	}

	&--open &__value {

		border-color: #d9d8df;

		svg {

			transform: scaleY(-1);

		}

	}

	&--open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 6px, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

	}

	&__value {

		display: flex;
		position: relative;
		cursor: pointer;
		padding: 6px 9px 6px 15px;
		font-size: 12px;
		min-width: 100px;
		line-height: 24px;
		transition: color var(--transitionDefault);
		user-select: none;
		z-index: 1;
		display: flex;
		align-items: center;
		background-color: #fff;
		border-radius: 3px;
		transition: var(--transitionDefault);
		border: 1px solid var(--border);

		svg {

			fill: var(--text);
			transition: var(--transitionDefault);
			pointer-events: none;
			margin-left: 6px;
			flex-shrink: 0;

		}

		&-inner {

			white-space: nowrap;
			display: block;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;

		}

	}

	&__list {

		position: absolute;
		top: 100%;
		padding: 3px 0;
		left: 0;
		box-shadow: var(--card-shadow);
		border-radius: 3px;
		background-color: #fff;
		opacity: 0;
		overflow: hidden;
		z-index: 1;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: opacity var(--transitionDefault) 0s, transform 0s var(--transitionDefault);
		min-width: 100%;

		&-item {

			padding: 6px 18px;
			transition: var(--transitionDefault);
			width: 100%;
			display: block;
			text-align: left;
			cursor: pointer;
			position: relative;

			span {

				display: block;
				font-size: 12px;
				line-height: 24px;
				padding-right: 24px;
				white-space: nowrap;

			}

			input {

				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.0001;
				z-index: -1;

				&:checked + span {

					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23F5C400' d='M6.74 12.32a1 1 0 0 0-1.47 1.36l3.6 3.92c.55.52 1.35.52 1.84.03l.37-.36 3.94-3.89.04-.04c1.22-1.2 2.44-2.42 3.65-3.64a1 1 0 0 0-1.42-1.4c-1.2 1.21-2.42 2.42-3.64 3.62l-.04.04-3.78 3.72-3.1-3.36Z'/%3E%3C/svg%3E");
					background-position: right;
					background-repeat: no-repeat;
					padding-right: 42px;

				}

			}

			&[value=""],
			&[value="none"] {

				display: none;

			}

			@media ($desktop) {

				&:hover {

					background-color: #fff4ad;

				}

			}

		}

	}

	select {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		font-size: 16px;
		appearance: none;
		pointer-events: none;

	}

	&--right &__list {

		left: auto;
		right: 0;

	}

}