.service {

	margin: calc( var(--space) / 2) 0;

	@media ($mdWidth) {

		margin: calc( var(--space) / 2) auto var(--space);

		.filter-open & {

			margin: 0 !important;

		}

	}

	@media ($smWidth) {

		margin: var(--space) 0;

	}

}