.stock {

	margin: 33px 0;

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 21px 24px;

	}

	&--1-2 &__list {

		grid-template-columns: 1fr 1fr;

	}

	&--1-2 &__item:first-child {

		outline:1px solid red;

	}

	&__item {

		position: relative;
		display: flex;
		border-radius: 3px;

		@media ($desktop) {

			&:hover {

				box-shadow: var(--box-shadow);

			}

		}

		&--green {

			background-color: #fffceb;

		}

		&--violet {

			background-color: #fbfafb;

		}

		&--blue {

			background-color: #f6fdfa;

		}

	}

	&__photo {

		width: 180px;
		flex-shrink: 0;

		img {

			mix-blend-mode: multiply;

		}

	}

	&__form {

		display: flex;
		flex-direction: column;
		padding: 30px 0 30px 33px;

	}

	&__label {

		display: flex;
		margin-bottom: 15px;

	}

	&__price {

		margin-bottom: 12px;

	}

	&__name {

		margin-bottom: 15px;

	}

	&__btn {

		margin-top: auto;

	}

}