.stock {

	&--home {

		margin: var(--gap) 0;

	}

	&--category {

		margin-bottom: 42px;

	}

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 21px 24px;

	}

	&--1-2 &__list {

		grid-template-columns: 1fr 1fr;

	}

	&--1-2 &__item:first-child {

		grid-column: span 2;

	}

	&__big-link {

		display: flex;
		flex-grow: 1;
		justify-content: space-between;

		&-left {

			padding: 50px 0 54px 72px;

			.stock__label {

				margin-top: 4px;

			}

			.stock__name {

				display: block;
				margin: 18px 0 0;

				@media ($mdWidth) {

					br {

						display: none;

					}

				}

			}

		}

		&-photo {

			padding: 0 72px;
			display: flex;
			justify-content: center;

			img {

				mix-blend-mode: darken;

			}

		}

	}

	&__item {

		position: relative;
		display: flex;
		justify-content: space-between;
		border-radius: 3px;

		@media ($desktop) {

			&:hover {

				box-shadow: var(--box-shadow);

			}

		}

		&--green {

			background-color: #fffceb;

		}

		&--violet {

			background-color: #fbfafb;

		}

		&--blue {

			background-color: #f6fdfa;

			&-2 {

				background-color: #e0f8eb;

			}

		}

	}

	&__photo {

		width: 180px;
		flex-shrink: 0;

		img {

			mix-blend-mode: multiply;

		}

	}

	&__form {

		display: flex;
		flex-direction: column;
		padding: 30px 0 30px 33px;

	}

	&__label,
	&__logo {

		display: flex;
		margin-bottom: 15px;

	}

	&__price {

		margin-bottom: 12px;

	}

	&__name {

		margin-bottom: 15px;

	}

	&__btn {

		margin-top: auto;

	}

}