.stock {

	&--home {

		margin: var(--gap) 0;

	}

	@media ($smWidth) {

		&--home {

			overflow-x: auto;
			scroll-snap-type: x mandatory;
			margin: var(--space) 0;
			scroll-padding-left: var(--indent);

			.center {

				display: flex;

			}

		}

		&--home &__list {

			display: flex;
			gap: 0;
			flex-shrink: 0;

		}

		&--home &__item {

			width: 297px;
			flex-shrink: 0;
			margin-right: var(--indent);
			scroll-snap-align: start;
			scroll-snap-stop: always;

		}

		&--home &__form {

			padding: 21px 0 21px 12px;

		}

		&--home &__photo {

			width: 120px;

			img {

				width: 100%;
				height: auto;

			}

		}

	}

	&--category {

		margin-bottom: calc( var(--space) / 2);

	}

	.aktsii & {

		margin-bottom: var(--space);

	}

	&__title {

		margin-bottom: var(--gap);

	}

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 21px 24px;

		@media ($mdWidth) {

			grid-template-columns: 1fr 1fr;

		}

	}

	&--1-2 &__list {

		grid-template-columns: 1fr 1fr;

	}

	&--1-2 &__item:first-child {

		grid-column: span 2;

	}

	&__big-link {

		display: flex;
		flex-grow: 1;
		justify-content: space-between;

		&-left {

			padding: 50px 0 54px 72px;

			.stock__label {

				margin-top: 4px;

			}

			.stock__name {

				display: block;
				margin: 18px 0 0;

				@media ($mdWidth) {

					br {

						display: none;

					}

				}

			}

		}

		&-photo {

			padding: 0 72px;
			display: flex;
			justify-content: center;

			img {

				mix-blend-mode: darken;

			}

		}

	}

	&__item {

		position: relative;
		display: flex;
		justify-content: space-between;
		border-radius: 3px;

		@media ($desktop) {

			&:hover {

				box-shadow: var(--box-shadow);

			}

		}

		&--green {

			background-color: #fffceb;

		}

		&--violet {

			background-color: #fbfafb;

		}

		&--blue {

			background-color: #f6fdfa;

			&-2 {

				background-color: #e0f8eb;

			}

		}

	}

	&__photo {

		width: 180px;
		flex-shrink: 0;

		img {

			mix-blend-mode: multiply;

		}

	}

	&__form {

		display: flex;
		flex-direction: column;
		padding: 30px 0 30px 33px;

	}

	&__label,
	&__logo {

		display: flex;
		margin-bottom: 15px;

	}

	&__price {

		margin-bottom: 12px;

		@media ($smWidth) {

			margin-bottom: 9px;

		}

	}

	&__name {

		margin-bottom: 15px;

		@media ($smWidth) {

			margin-bottom: 18px;

		}

	}

	&__btn {

		margin-top: auto;

	}

}