	<div class="modal__item modal__item--account-edit-name">

		<form action="/" class="modal-login form">

			<h3 class="modal-login__head h2">
				Изменить ФИО
			</h3>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="modal-edit-name" class="inputbox__label">
						ФИО
					</label>

					<input class="input input--fz18" placeholder="Введите ФИО" required="required" name="name" id="modal-edit-name" value="Петрова Анна Михайловна">

				</div>

			</div>

			<div class="modal-login__btns-right">

				<button class="btn btn--medium btn--white modal__close" type="button">
					Отмена
				</button>

				<button class="btn btn--medium">
					Сохранить <span class="hidden-sm">изменения</span>
				</button>

			</div>

		</form>

	</div>