	<div class="modal__item modal__item--account-edit-phone">

		<form action="/" class="modal-login form">

			<h3 class="modal-login__head h2">
				Изменить телефон
			</h3>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="modal-edit-phone" class="inputbox__label">
						Номер телефона
					</label>

					<input class="input input--fz18 inputmask inputmask--phone" placeholder="Введите телефон" required="required" name="phone" type="tel" id="modal-edit-phone" value="9995674532">

				</div>

			</div>

			<div class="modal-login__btns-right">

				<button class="btn btn--medium btn--white modal__close">
					Отмена
				</button>

				<button class="btn btn--medium" type="button">
					Сохранить изменения
				</button>

			</div>

		</form>

	</div>