	<div class="modal__item modal__item--account-address-remove">

		<form action="/" class="modal-login" id="modal-form-address-remove">

			<input type="hidden" name="id">

			<h3 class="modal-login__head h2">
				Удалить адрес?
			</h3>

			<p class="modal-login__text"></p>

			<div class="modal-login__btns-right">

				<button class="btn btn--medium btn--white modal__close" type="button">
					Отмена
				</button>

				<button class="btn btn--medium">
					Удалить
				</button>

			</div>

		</form>

	</div>