	<div class="modal__item modal__item--account-edit-email">

		<form action="/" class="modal-login form">

			<h3 class="modal-login__head h2">
				Изменить Email
			</h3>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="modal-edit-email" class="inputbox__label">
						Email
					</label>

					<input class="input input--fz18" placeholder="Введите еmail" required="required" name="email" type="email" id="modal-edit-email" value="anna.petrova@gmail.com">

				</div>

			</div>

			<div class="modal-login__btns-right">

				<button class="btn btn--medium btn--white modal__close" type="button">
					Отмена
				</button>

				<button class="btn btn--medium">
					Сохранить изменения
				</button>

			</div>

		</form>

	</div>