	<div class="modal__item modal__item--account-edit-password">

		<form action="/" class="modal-login form">

			<h3 class="modal-login__head h2">
				Изменить пароль
			</h3>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="modal-edit-password" class="inputbox__label">
						Введите пароль
					</label>

					<div class="inputbox__input-wrap visible-toggle-password">

						<input id="modal-edit-password" placeholder="Введите пароль" type="password" name="password" class="input input--fz18 visible-toggle-password__input" required="required">

						<div class="inputbox__ico-right">

							<button class="visible-toggle-password__btn button" type="button" aria-label="показать пароль">
								<svg width="24" height="24" viewBox="0 0 24 24">
									<path d="M11.98 15.98a4 4 0 1 1 0-8 4 4 0 0 1 0 8ZM12 4C6.48 4 2 8.84 2 12c0 3.09 4.58 8 10 8s10-4.91 10-8c0-3.16-4.48-8-10-8Z"/>
									<path d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
								</svg>
								<svg class="hide" width="24" height="24" viewBox="0 0 24 24">
									<path d="M11.98 15.98a4 4 0 1 1 0-8 4 4 0 0 1 0 8ZM12 4C6.48 4 2 8.84 2 12c0 3.09 4.58 8 10 8s10-4.91 10-8c0-3.16-4.48-8-10-8Z"/>
									<path d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
									<path d="M19.59 21 2.99 4.41 4.42 3l16.6 16.59L19.58 21Z"/>
								</svg>
							</button>

						</div>

					</div>

				</div>

			</div>

			<div class="modal-login__btns-right">

				<button class="btn btn--medium btn--white modal__close" type="button">
					Отмена
				</button>

				<button class="btn btn--medium">
					Сохранить <span class="hidden-sm">изменения</span>
				</button>

			</div>

		</form>

	</div>