	<div class="modal__item modal__item--cart">

		<form action="/addcart.php" class="modal-cart">

			<script type="text/html" id="modal-cart-template">

				<input type="hidden" name="id" value="<% id %>">

				<h3 class="modal-cart__title h3">
					Товар добавлен в корзину
				</h3>

				<div class="modal-cart__item">

					<a href="<% link %>" class="modal-cart__img">

						<img src="<% img %>" alt="<% name %>" loading="eager" width="81" height="81">

					</a>

					<div class="modal-cart__head">

						<p class="h6">

							<a class="modal-cart__name" href="<% link %>">
								<% name %>
							</a>

						</p>

						<p class="modal-cart__intro hidden-sm">
							<% description %>
						</p>

					</div>

					<div class="modal-cart__price">

						<div class="price">

							<%#priceOld%>

								<b class="price__sale">
									<% price %>
								</b>

								<s class="price__old">
									<% priceOld %>
								</s>

							<%/priceOld%>

							<%^priceOld%>

								<% price %>

							<%/priceOld%>

						</div>

					</div>

					<div class="modal-cart__quantity">

						<div class="quantity">

							<button class="quantity__btn quantity__btn--down button" type="button" aria-label="уменьшить на одну штуку">
								<svg width="21" height="21" viewBox="0 0 21 21">
									<path d="M19.66 11.81H1.76V9.23h17.9v2.58Z"/>
								</svg>
							</button>

							<input type="tel" value="<% count %>" name="count" class="modal-cart__count input quantity__input" maxlength="3" autocomplete="off">

							<button class="quantity__btn quantity__btn--up button" type="button" aria-label="увеличить на одну штуку">
								<svg width="21" height="21" viewBox="0 0 21 21">
									<path d="M11.67 9.7h5.36v2.31h-5.36v6.07H9.22V12H3.87v-2.3h5.35V4.1h2.45v5.6Z"/>
								</svg>
							</button>

						</div>

					</div>

				</div>

				<div class="modal-cart__foot">

					<div class="modal-cart__total-text hidden-sm">
						<% totalText %>
					</div>

					<div class="modal-cart__btns">

						<a href="/cart/" class="btn btn--medium btn--white">
							<span class="hidden-sm">Перейти </span>в корзину
						</a>

						<button class="btn btn--medium modal__close" type="button">
							Продолжить <span class="hidden-sm">покупки</span>
						</button>

					</div>

				</div>

			</script>

		</form>

	</div>