	<div class="modal__item modal__item--city">

		<form action="/" class="modal-login form-city">

			<h3 class="modal-login__head h2">
				Выберите город
			</h3>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="form-city-input" class="inputbox__label">
						Ваш город
					</label>

					<input id="form-city-input" class="input form-city__input-filter" placeholder="Введите название" autocomplete="off" name="keywords">

				</div>

{% set list = [

	"Владимир",
	"Муром",
	"Сергиев Посад",
	"Санкт-Петербург",
	"Москва",
	"Казань",
	"Воронеж, Воронежская область",
	"Воронец, Орловская область",
	"Воронежская, Краснодарский край",
	"Воронеж, Воронежская область",
	"Воронец, Орловская область",
	"Воронежская, Краснодарский край",
	"Воронец, Орловская область"

]%}

				<div class="form-city__list" data-empty="Такого города у нас в базе данных нет">

{% for name in list %}

					<label class="form-city__btn" data-name="{{ name }}">

						<input class="form-city__radio" type="radio" name="city" value="{{ loop.index }}">

						<span class="form-city__label">
							{{ name }}
						</span>

					</label>

{% endfor %}

				</div>

			</div>

		</form>

	</div>