	<div class="modal__item modal__item--exit">

		<form action="/" class="modal-login">

			<h3 class="modal-login__head h2">
				Вы уверены, что хотите выйти из&nbsp;аккаунта?
			</h3>

			<p class="modal-login__text">
				После того, как вы выйдете из аккаунта, для продолжения покупок вам придется авторизоваться
			</p>

			<div class="modal-login__btns-right">

				<button class="btn btn--medium btn--white modal__close">
					Выйти
				</button>

				<button class="btn btn--medium" type="button">
					Отмена
				</button>

			</div>

		</form>

	</div>