	<div class="modal__item modal__item--login-required">

		<aside class="modal-login">

			<h3 class="modal-login__head h2">
				Пожалуйста, <br>войдите в аккаунт
			</h3>

			<p class="modal-login__text">
				Для оформления заказа вам необходимо войти в аккаунт или зарегистрироваться
			</p>

			<div class="modal-login__btns-right">

				<button class="btn btn--medium btn--white" type="button" data-modal="reg">
					Регистрация
				</button>

				<button class="btn btn--medium" type="button" data-modal="login">
					Вход
				</button>

			</div>

		</aside>

	</div>