	<div class="modal__item modal__item--order-finish">

		<aside class="modal-login">

			<h3 class="modal-login__head h2">
				Спасибо за заказ!
			</h3>

			<p class="modal-login__text">
				Мы приступили к сборке заказа №12345, скоро вы получите трек-номер для отслеживания. За статусом заказа вы можете следить в личном кабинете в разделе «Заказы»
			</p>

			<div class="modal-login__btns-right modal-login__btns-right--mobile-50p">

				<a class="btn btn--medium btn--white" href="/catalog/">
					В каталог
				</a>

				<a class="btn btn--medium" href="/lk/order/">
					К моим заказам
				</a>

			</div>

		</aside>

	</div>