	<div class="modal__item modal__item--recovery">

		<form action="/" class="modal-login form">

			<h3 class="modal-login__head h2">
				Восстановление доступа
			</h3>

			<p class="modal-login__text">
				На емайл будет отправлено письмо с инструкциями о смене пароля
			</p>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="modal-recovery-email" class="inputbox__label">
						Email
					</label>

					<input class="input" placeholder="Введите еmail" required="required" name="email" type="email" id="modal-recovery-email">

				</div>

			</div>

			<button class="btn btn--medium modal-login__submit form__submit">
				Отправить
			</button>

			<p class="modal-login__foot">

				Вспомнили пароль?

				<button class="button link" type="button" data-modal="login">
					Войти
				</button>

			</p>

		</form>

	</div>