								<div class="user-menu">

									<div class="user-menu__head">

										<div class="user-menu__photo">
											АП
										</div>

										<p class="user-menu__name">
											Анна Петрова
										</p>

									</div>

									<ul class="user-menu__list">

										<li class="user-menu__item{% if title === 'Данные аккаунта' %} is-active{% endif %}">

											<a class="user-menu__link" href="/lk/">

												<svg width="24" height="24" viewBox="0 0 24 24">
													<use xlink:href="#svg-user"/>
												</svg>

												Данные аккаунта

											</a>

										</li>

										<li class="user-menu__item{% if title === 'Сохраненные карты' %} is-active{% endif %}">

											<a class="user-menu__link" href="/lk/card/">

												<svg width="24" height="24" viewBox="0 0 24 24">
													<use xlink:href="#svg-card"/>
												</svg>

												Сохраненные карты

											</a>

										</li>

										<li class="user-menu__item{% if title === 'Мои адреса' %} is-active{% endif %}">

											<a class="user-menu__link" href="/lk/address/">

												<svg width="24" height="24" viewBox="0 0 24 24">
													<use xlink:href="#svg-location"/>
												</svg>

												Мои адреса

											</a>

										</li>

										<li class="user-menu__item{% if title === 'Мои заказы' %} is-active{% endif %}">

											<a class="user-menu__link" href="/lk/order/">

												<svg width="24" height="24" viewBox="0 0 24 24">
													<use xlink:href="#svg-order"/>
												</svg>

												Мои заказы

											</a>

										</li>

									</ul>

									<hr>

									<button class="user-menu__link button" data-modal="exit" type="button">

										<svg width="24" height="24" viewBox="0 0 24 24">
											<use xlink:href="#svg-exit"/>
										</svg>

										Выход

									</button>

								</div>