{% set title = site %}

{% set dev = true %}

{% extends "template/base.html" %}

{% block content %}

<div class="center">

<script>

setTimeout( ()=> {

	const eventModalShow = new CustomEvent("modalShow", {
		detail: {
			selector: "city"
		}
	});

//	window.modal.dispatchEvent(eventModalShow);
})

</script>

	<h1>
		Страницы
	</h1>

	<ul class="h6">
		<li><a href="/main/">Главная</a></li>
		<li><a href="/category/">Категория</a></li>
		<li><a href="/category/washes/">Мойки самообслуживания</a></li>
		<li><a href="/catalog/">Каталог</a></li>
		<li><a href="/catalog/filter/">Каталог (отфильтровано)</a></li>
		<li><a href="/catalog/product/">Карточка товара</a></li>
		<li><a href="/catalog/product/availability/">Карточка товара (Под заказ)</a></li>
	</ul>

	<hr>

	<h2>
		Buttons
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn">
				btn
			</button>

		</div>

		<div class="item">

			<button class="btn" disabled="disabled">
				btn disabled
			</button>

		</div>

		<div class="item">

			<button class="btn">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M16 18a1 1 0 0 0 0-2H6.99A1 1 0 0 0 6 17a1 1 0 0 0 .99 1H16ZM6 7a1 1 0 0 0 1 1h13a1 1 0 0 0 1-1 1 1 0 0 0-1-1H7a1 1 0 0 0-1 1Zm14 6a1 1 0 1 0 0-2H7a1 1 0 1 0 0 2h13Z"/>
					<circle cx="4" cy="7" r="1"/>
					<circle cx="4" cy="12" r="1"/>
					<circle cx="4" cy="17" r="1"/>
				</svg>
				btn
			</button>

		</div>

		<div class="item">

			<button class="btn btn--dark">
				btn btn--dark
			</button>

		</div>

		<div class="item">

			<button class="btn btn--white">
				btn btn--white
			</button>

		</div>

		<div class="item">

			<button class="btn btn--dark" disabled="disabled">
				btn btn--dark disabled
			</button>

		</div>

		<div class="item">

			<button class="btn btn--medium">
				btn btn--medium
			</button>

		</div>

		<div class="item">

			<button class="btn btn--big">
				btn btn--big
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn btn--buy">
				Купить
			</button>

		</div>

		<div class="item">

			<button class="btn btn--buy btn--dark">
				В корзину
			</button>

		</div>

		<div class="item">

			<button class="btn btn--buy btn--medium">
				В корзину
			</button>

		</div>

		<div class="item">

			<button class="btn btn--buy btn--big">
				Добавить в корзину
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn btn--reset">
				Reset
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="m12 10.59-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 0 0 1.42 1.4L12 13.42l5.3 5.3a1 1 0 0 0 1.4-1.42L13.42 12l5.3-5.3a1 1 0 1 0-1.42-1.4L12 10.58Z"/>
				</svg>
			</button>

		</div>

		<div class="item">

			<button class="btn btn--reset-form">
				Reset form
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="m12 10.59-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 0 0 1.42 1.4L12 13.42l5.3 5.3a1 1 0 0 0 1.4-1.42L13.42 12l5.3-5.3a1 1 0 1 0-1.42-1.4L12 10.58Z"/>
				</svg>
			</button>

		</div>

		<div class="item">

			<button class="btn btn--reset" disabled="disabled">
				Disabled
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="m12 10.59-5.3-5.3a1 1 0 0 0-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 0 0 1.42 1.4L12 13.42l5.3 5.3a1 1 0 0 0 1.4-1.42L13.42 12l5.3-5.3a1 1 0 1 0-1.42-1.4L12 10.58Z"/>
				</svg>
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn btn--toggle">

				Развернуть

				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M8.3 10.3a1 1 0 0 0 0 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32l2.93-2.96a1.01 1.01 0 0 0-.32-1.63.99.99 0 0 0-1.09.21L12 12.62l-2.3-2.33a.99.99 0 0 0-1.4 0Z"/>
				</svg>

			</button>

		</div>

	</div>

	<h3>
		Chips
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="label label--green">

				<div class="label__text">
					Выгодно
				</div>

			</div>

		</div>

		<div class="item">

			<div class="label label--violet">

				<div class="label__text">
					Товар месяца
				</div>

			</div>

		</div>

		<div class="item">

			<div class="label label--blue">

				<div class="label__text">
					Хит
				</div>

			</div>

		</div>

		<div class="item">

			<div class="label label--pink">

				<div class="label__text">
					Распродажа
				</div>

			</div>

		</div>

	</div>

	<h3>
		Checkbox
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input" disabled="disabled">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input" disabled="disabled" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

	</div>

	<h3>
		Radio
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" name="radio">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" name="radio" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" disabled="disabled">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="radio" class="checkbox__input" disabled="disabled" checked="checked">

					<span class="checkbox__label">
						Выберите значение
					</span>

				</label>

			</div>

		</div>

	</div>

	<hr>

	<h2>
		Input
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<input value="123" class="input">

		</div>

		<div class="item">

			<input value="123" class="input" disabled="disabled">

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="inputbox">

				<label for="inputbox" class="inputbox__label">
					* Индекс
				</label>

				<input id="inputbox" placeholder="Введите название" class="input" required="required">

			</div>

		</div>

		<div class="item">

			<div class="inputbox">

				<label for="inputbox-2" class="inputbox__label">
					* Индекс
				</label>

				<input id="inputbox-2" value="123" class="input" required="required">

			</div>

		</div>

	</div>

	<h2>
		Buttons
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn" type="button" data-modal="login-required">
				Требуется вход для совершения действия
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="reg">
				Регистрация
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="login">
				Вход
			</button>

		</div>

		<div class="item">

			<button class="btn" type="button" data-modal="recovery">
				Забыли пароль
			</button>

		</div>

	</div>

	<div class="flex flex--wrap">

		<form class="item form-buy">

			<input type="hidden" name="id" value="123">

			<button class="btn form-buy__submit">
				Товар добавлен в корзину
			</button>

		</form>

		<div class="item">

			<button class="btn" type="button" data-modal="city">
				Выберите город
			</button>

		</div>

	</div>

</div>

{% endblock %}