{% set title = "Карточка товара" %}

{% set description = "Представляем Вам - минимойку GRASS C22P-1508. Эта малышка с давлением 150 бар. Новая веха развития. Первая мойка от Grass для каждого! Она пригодится как для мойки авто, так и в хозяйственных нуждах!" %}

{% set breadcrumbs = ["Бытовая техника","Минимойки","Минимойка GRASS C22P-1508"] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center">

		<div class="product">

			<header class="product__header">

{% set availability = "Под заказ" %}

{% include "catalog/product/header.html" %}

			</header>

			<div class="product__body">

{% include "catalog/product/gallery.html" %}
{% include "catalog/product/details.html" %}
{% include "catalog/product/form-buy.html" %}
{% include "catalog/product/delivery.html" %}

			</div>

		</div>

		<aside class="product__accessories">

{% set swiperTitle = "Дополнительные аксессуары" %}

{% include "catalog/product/catalog-swiper.html" %}

		</aside>

		<div class="product__description" id="description">

{% include "catalog/product/description.html" %}
{% include "catalog/product/param.html" %}

		</div>

		<aside class="product__related">

{% set swiperTitle = "Аналоги товара" %}

{% include "catalog/product/catalog-swiper.html" %}

		</aside>

{% include "catalog/product/scroll.html" %}

	</article>

{% endblock %}